.vniz{
    margin-left: 500px;
    font-family: "Lobster";
    color: white;
}
.mainnnn{
  font-family: "Rubik Mono One";
  transition: transform 0.1s ease;
  position: relative;
  bottom: 60px;
  left: 20px;
  padding: 20px;
  font-size: 30px;
  color: white;
}


.mainnnn:hover {
  text-decoration:underline;
  color: rgb(198, 198, 198);
}

.elements{
  
  font-family: "Rubik Mono One";
  left: 20px;
  position: relative;
  bottom: 60px;
  font-size: 30px;
  color: white;
}
.elements:hover {
  text-decoration:underline;
  color: rgb(198, 198, 198);
}

@media (width: 434px){
    img{
      width: 200px;
    }
}

@media (width: 1629px){
    img{
      width: 1000px;
    }
}

a{
  text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
footer{
  margin-top: 100px;
}

span{
    font-size: 25px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    font-size: 25px;
    
}
img{
    border-radius: 10px;
    box-shadow: 1px 5px 3px;
    height: 700px;
    width: 1253px;
}
header{
    box-shadow: 1px 2px 3px black;
    height: 90px;
    font-family: "Bitcount Grid Double";
    transition: transform 0.3s ease;
    display: block;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(90deg, grey, rgb(66, 66, 66));
    font-size: 50px;
    text-align: center;
}
header:hover{
    background-image: linear-gradient(90deg, red, grey);
    transform: scale(1.1);
}

.pxx{
  background-color: red;
  font-size: 20px;
}
.emm{
  font-size: clamp(16px, calc(2vm + 10px) 40px);
}