.header{
    background: blue;
    padding: 12px 20px;

    .header_menu{
        text-align: left;
        font-size: 20px;
       
        .header_menu_link{
            text-decoration: none;
       } 
    }

    &-button{
        color: white;
    }

}